<a href="https://colab.research.google.com/github/jinweiRao/MEng-Project/blob/master/Test_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import tensorflow
from tensorflow import keras
from keras import backend as K
from keras.optimizers import SGD, Adam, RMSprop
from keras.layers import Dense,Activation,Input
import numpy as np
import pandas as pd
from keras import Sequential
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_predict
import matplotlib.pyplot as plt
from keras import optimizers, regularizers
import seaborn as sns
from keras import callbacks
from scipy.stats.stats import pearsonr
import random
import matplotlib.pyplot
from sklearn.cluster import KMeans
from tqdm import tqdm

## Build baseline_model

In [2]:
data=pd.read_csv('plant_A.csv')
data.head()

         lp  Temp   CaO    MgO  SiO2  Fe_total   MnO  Al2O3  TiO2   V2O5
0  4.736198  1649  40.0   8.63   7.8      27.5  3.38   0.91  0.45  1.473
1  4.436094  1654  39.6   9.99   9.2      23.0  4.14   2.60  0.68  1.945
2  4.499810  1664  44.8   8.80  11.0      20.2  3.45   1.58  0.76  2.070
3  4.140865  1680  42.4   8.10  11.5      21.1  3.76   2.47  0.88  2.161
4  4.081441  1671  48.8  11.73  11.8      13.3  3.26   1.48  0.78  1.976

In [510]:
trial_data = stddata.drop(['CaO'],axis =1).copy()

In [3]:
def stdarize_data(data):
    mean = data.describe().loc['mean'].values
    std = data.describe().loc['std'].values
    stddata = (data - mean)/std
    return stddata

In [485]:
stddata = stdarize_data(data)
stddata.loc[:,'lp'] = data.loc[:,'lp']
stddata.head()

In [488]:
stddata.head()

,lp,Temp,CaO,MgO,SiO2,Fe_total,MnO,Al2O3,TiO2,V2O5
0,4.736198,0.009329,-0.671236,-0.439794,-2.922204,2.626815,-2.034799,-1.869831,-2.451391,-1.341048
1,4.436094,0.270513,-0.781774,0.555023,-2.118590,1.352351,-0.943029,1.682121,-1.622410,-0.383367
2,4.499810,0.792881,0.655222,-0.315442,-1.085373,0.559351,-1.934241,-0.461660,-1.334069,-0.129743
3,4.140865,1.628670,-0.008007,-0.827481,-0.798368,0.814244,-1.488914,1.408894,-0.901557,0.054895
4,4.081441,1.158539,1.760603,1.827804,-0.626165,-1.394827,-2.207183,-0.671835,-1.261984,-0.320468

In [76]:
act_list = ['sigmoid','tanh','softsign','softmax','relu','elu']
opt_list = ['adam','RMSprop','Adadelta','SGD']

In [515]:
def baseline_model(act,opt,nums):
    model = Sequential()
    model.add(Dense(nums, input_dim = 9, activation = act))
    model.add(Dense(1, activation = 'linear'))
    model.compile(loss='mse', optimizer = opt, metrics=['mse']) 
    return model

In [79]:
def generate_model():
    model_list = []
    for act in act_list:
        for opt in opt_list:
            model_list.append(baseline_model(act,opt,16))
    return model_list

In [80]:
modelList = generate_model()

In [505]:
def cv(df,model):
    kf = KFold(n_splits = 5, random_state = 10, shuffle = False)
    splits = kf.split(df)
    comparision_list = []
    for train_index,test_index in splits:
        X_train = df.loc[train_index,'Temp':'V2O5'].values
        X_test = df.loc[test_index,'Temp':'V2O5'].values
        y_train = df.loc[train_index,'lp'].values
        y_test = df.loc[test_index,'lp'].values
        model.fit(X_train, y_train, epochs = 150, batch_size = 20, validation_data = (X_test,y_test),verbose = 0)
        prediction = model.predict(X_test).reshape(len(X_test),)
        comparision = {'prediction':prediction,'truth':y_test}
        comparision_list.append(comparision)
    return comparision_list

In [506]:
def modelsearch(modelList,df):
    result_list = [] 
    for model in modelList:
        result = cv(df,model)
        result_list.append(result)
    return result_list

In [191]:
def get_result(data):
    R_list = []
    RMSE_list = []
    for model_index in range(len(data)):
        rmse_list = []
        r_list = []
        for k in range(5):
            pre = data[model_index][k]['prediction']
            truth = data[model_index][k]['truth']
            rmse = np.sqrt(sum((pre - truth)**2)/len(pre))
            r = pearsonr(pre,truth)[0]
            rmse_list.append(rmse)
            r_list.append(r)
        R_list.append(np.mean(r_list))
        RMSE_list.append(np.mean(rmse_list))
    return R_list, RMSE_list

In [192]:
def get_namelist():
    namelist = []
    for act in act_list:
        for opt in opt_list:
            namelist.append(act +'-'+ opt)
    return namelist

In [193]:
namelist = get_namelist()
namelist[:5]

['sigmoid-adam',
 'sigmoid-RMSprop',
 'sigmoid-Adadelta',
 'sigmoid-SGD',
 'tanh-adam']

In [242]:
def plot_result(data):
    plt.figure(figsize = (9,9))
    p1 = plt.barh(y = range(24), width = data[0], height = 0.35, label = 'R')
    p2 = plt.barh(y = range(24), width = [0.3/i for i in data[1]], height = 0.35, label = '0.3/RMSE',left = data[0])
    plt.xlim(0,0.95,0.1)
    plt.yticks(range(24),(namelist))
    plt.ylabel('model_name',fontsize = 14)
    plt.legend()
    plt.show()

In [270]:
def cv_result(data):
    rmse_list = []
    r_list = []
    for k in range(5):
        pre = data[k]['prediction']
        truth = data[k]['truth']
        rmse = np.sqrt(sum((pre - truth)**2)/len(pre))
        r = pearsonr(pre,truth)[0]
        rmse_list.append(rmse)
        r_list.append(r)
    return np.mean(rmse_list), np.mean(r_list)

### error histgram

In [471]:
def get_error(data):
    error = []
    for k in range(5):
        temp = []
        temp = data[k]['prediction'] - data[k]['truth']
        temp = temp.tolist()
        error += temp
    return error